<a href="#" onclick="$('#panes').panes('select', 'list-pane');">&laquo; Go back</a>
<form id="answer-form">
  <div class="question"></div>
  <textarea name="answer[content]">Tell your story here...</textarea>
  <div class="actions">
    <span class="spinny" style="display: none">&nbsp;</span>
    <span class="status" style="display: none">Saved</span>
    <button class="big-button"
      onclick="return Prompt.submit_answer($(this));"
      >
        Save
      </button>
  </div>
</form>
