<% default_text = "Type here to tell your story..." %>
  <div id="top-bar" style="display: none">
    <a href="#">See your work in progress</a>
  </div>
  <div id="sidebar" class="span-4">
    <div id="not-started" class="num-questions num-questions-selected">
      <div class="answered-number">23</div>
      <div class="answered-label">unanswered questions</div>
    </div>
    <div id="drafts" class="num-questions">
      <div class="answered-number">0</div>
      <div class="answered-label">drafts started</div>
    </div>
    <div id="finished" class="num-questions">
      <div class="answered-number draft">12</div>
      <div class="answered-label">questions finished</div>
    </div>
  </div>
  <div id="panes" class="prepend-5 span-19 last">
    <div id="list-pane">
      <h2>In Draft</h2>
      <ul id="answered-prompts"> 
      <% @answered.each { |prompt, answer| %>
        <%= render 'prompt_summary', :prompt => prompt, :answer => answer %>
      <% } %>
      </ul>

      <h2>More Questions!</h2>
      <ul id="prompts">
      <% @prompts.each { |prompt| %>
        <%= render 'prompt_summary', :prompt => prompt %>
      <% } %>
      </ul>
    </div>
    <div id="answer-pane">
      <%= render 'answer_pane', :prompt => @prompts[0] %>
    </div>
  </div>  
<script type="text/javascript">
$(function() {
  $('#panes').panes();
  $('#answer-button').click(function() {
    $('#buttons').fadeOut(100, function() {
      $('#answer-box').slideDown(200);
    });
  });
  $('#answer-box-textarea').focus(function() {
    if ($(this).html() === '<%= default_text %>') {
      $(this).html('');
    }
    $(this).removeClass('default-text');
  });
  $('#skip-button').click(function() {
    $('#back-button').show();
    $('#questions').animate({marginLeft: "-=" + $('.question').width()});
  });
  $('#back-button').click(function() {
    $('#questions').animate({marginLeft: "+=" + $('.question').width()});
  });
});
</script>
