<% default_text = "Type here to tell your story..." %>
<% content_for :styles do %>
  <%= stylesheet_link_tag 'list' %>
<% end %>
  <div id="top-bar" style="display: none">
    <a href="#">See your work in progress</a>
  </div>
  <div id="panes" class="prepend-2 span-20 append-2 last">
    <div id="list-pane">
      <%= render 'prompt_list' %>
    </div>
    <div id="answer-pane">
      <%= render 'answer_pane', :prompt => @prompts[0] %>
    </div>
  </div>  
<% content_for :scripts do %>
<%= javascript_include_tag 'prompt' %>
<script type="text/javascript">
$(function() {
  $('#panes').panes();
});
</script>
<% end %>
