body {
  font-family: 'Vollkorn', serif;
}

#logo {
  letter-spacing: 0.065em;
  font-size: 40px;
}

header {
  border-bottom: 4px solid black;
  background-color: #FFFEE3;
  padding: 0px 9px;
}

#questions {
  padding: 0;
  margin: 0;
  width: 100000px;
}

.question {
  list-style-type: none;
  display: inline-block;
  font-size: 54px;
  margin: 18px 0;
}

#question-window {
  overflow: hidden;
}

#buttons {
  bottom: 0;
  margin: 36px 0;
  position: fixed;
}

#answer-skip {
    text-align: right;
}

.button-set {
  padding: 0;
  margin: 0;
}

.button-set li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
  margin: 0 0.2em 0 0;
}

.big-button {
  font-size: 33px;
  padding: 9px;
  font-family: 'Vollkorn', serif;
}

#save-cancel {
  text-align: right;
}

#answer-box-textarea {
  padding: 20px;
  font-family: Vollkorn, serif;
  font-size: 18px;
}

.default-text {
  color: #cccccc;
}
