body {
  font-family: 'Vollkorn', serif;
  font-size: 16px;
}

#logo {
  letter-spacing: 0.065em;
  font-size: 40px;
  color: black;
  text-decoration: none;
}

header {
  border-bottom: 4px solid black;
  background-color: #FFFEE3;
  padding: 0px 9px;
  margin-bottom: 18px;
}

#header-links {
  float: right;
  margin: 15px 0;
}

#header-links li {
  display: inline;
  font-size: 18px;
}

.start-hidden {
  display: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

li.prompt:first-child {
  border: none;
}

li.prompt {
  margin-bottom: 18px;
  border-top: 1px solid #CCC;
}

.status {
  float: left;
  font-size: 26px;
  line-height: 2em;
}

.actions {
  text-align: right;
}

//// Navigation ////

#navigation {
    margin-top: 9px;
}

#navigation li:first-child {
    border-top: none;
}

#navigation li {
    padding: 9px;
    font-size: 18px;
    border-top: solid 1px #CCC;
    cursor: pointer;
}

#navigation li:hover {
    background-color: #EFEFEF;
}

#new_user {
    display: table;
    margin: 1em auto;
    padding: 1.2em;
    background-color: #FFFEE3;
    border: 1px solid #F6EFE0;
}

#user_email {
    font-size: 1.2em;
    margin: 0.8em 0;
    border-radius: 5px;
    padding: 0.5em 0.75em;
}

#signup-content {
    margin-top: 1em;
    text-align: center;
}

#signup-content #errorExplanation h2, #signup-content #errorExplanation p {
    display: none;
}

#signup-content #errorExplanation ul li {
    color: red;
}

.spinny {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-image: url('/images/spinny.gif');
  background-position: center;
  background-repeat: no-repeat;
}

label {
  width: 115px;
  font-size: 1.2em;
  text-align: right;
  margin-right: 18px;
  display: inline-block;
}

.fieldWithErrors {
  display: inline;
}

//////////// Button Styles /////


.button-set {
  padding: 0;
  margin: 0;
}

.button-set li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
  margin: 0 0.2em 0 0;
}

.big-button {
  font-size: 26px;
  padding: 6px;
  font-family: 'Vollkorn', serif;
}

.big-button a {
  text-decoration: none;
  color: inherit;
}

//////////// Form Styles ////////////

.default-text {
  color: #cccccc;
}
