<% content_for :styles do %>
  <%= stylesheet_link_tag 'signup' %>
<% end %>

<div id="signup-content">
  <section id="intro" class="span-18 append-6 last">
    <h1>It's simple.</h1>
    <p>
      We often forget it, but life is an amazing adventure. In fact, it's so packed with stories that it's hard to remember all the remarkable (or remarkably foolish) 
      things we've done.  Worse yet, it's possible our families have never heard about our
      triumphs and failures, our battles and our hard-earned lessons.
    </p>
    <p>
      Indelible.me is designed with care to help you share these memories with your children 
      and generations to come.
    </p>
  </section>
  <section id="quote" class="span-24 last">
  <blockquote><span id="quote">That which resembles most living one's life over again seems to be to recall all the circumstances of it, and, to render this remembrance more durable, to record them in writing.
    </span>
    <figure id="arrow"></figure>
    <div id="author">&mdash;Benjamin Franklin</div>
  </blockquote>
  </section>
  <section id="steps" class="prepend-2 span-20 append-2 last">
    <ol>
      <li>Browse our prompts.
        <img src="/images/question-screenshot.png"/>
        <p>Flip through the prompts.  Try to recall specific people and events, and read the quotes to get the words flowing.</p>
      </li>
      <li>Write.
        <img src="/images/answer-screenshot.png"/>
        <p>Just click 'Answer' and type in the box.  We automatically save the answer as you go, so you never have to worry about losing your progress.</p>
      </li>
      <li>Publish the book.
        <img src="/images/publish-screenshot.png"/>
        <p>When you're ready to go, just click "Publish" and we'll put together a hard-cover printed book, designed by our layout experts to present your words with the quality they deserve.</p>
      </li>
    </ol>
  </section>
  <section id="buy" class="prepend-8 span-8 append-8 last">    <div id="buy-box">
      <div id="price-box">
        <div id="price">$25</div>
        <div id="buy-button">
          <a href="<%= url_for(:controller => 'payments', :action => 'checkout') %>">
            <img alt="Buy Now" border="0" src="https://www.paypal.com/en_US/i/btn/btn_buynow_SM.gif"/>
          </a>
        </div>
      </div>
      A lifetime account comes with one free printing of your finished book.
    </div>
  </section>
</div>
<!-- Google Code for Learn More Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1010285212;
var google_conversion_language = "en";
var google_conversion_format = "1";
var google_conversion_color = "ffffff";
var google_conversion_label = "lRzhCPzA8wEQnPXe4QM";
var google_conversion_value = 0;
if (1) {
  google_conversion_value = 1;
}
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1010285212/?value=1&amp;label=lRzhCPzA8wEQnPXe4QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<% content_for :scripts do %>
  <%= javascript_include_tag 'jquery.validate.min' %>
  <%= javascript_include_tag 'jquery.defaultText' %>
  
  <script type="text/javascript">
$(function() {
  $("#request").validate({ errorLabelContainer: "#errors" });
  $.defaultText({
    context: 'form'
  });
});
var $InviteRequest = (function() {
  var submit = function($form) {
    if(!$form.valid()) return false;
    
    $form.ajaxSubmit({
      success: function() {
        $form.hide();
        $("#submitted").show();
      }
    });
    return false;
  };
  
  return {
    submit: submit
  };
})();
      
  </script>
<% end %>
