<div>
<p>Capture a <span class="loud">memorable</span> life.</p>
<p>Get <span class="loud">memoirable</span>.</p>
</div>
<div id="signup-form">
  <p>Enter your email address to get started.</p>
<% form_for(@user) do |f| %>
  <div class = "field">
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Begin" %>
  </div>
<% end %>
</div>
