<% content_for :styles do %>
  <%= stylesheet_link_tag 'frontpage' %>
<% end %>
<section id="top">
<h1 id="tagline">The easiest way to write your memoir.</h1>
</section>

<div class="span-8 reason">
<h3>Answer questions</h3>
<p>We've assembled a set of prompts to help you recall stories of your past.</p>
</div>

<div class="span-8 reason">
<h3>Get inspired</h3>
<p>Read quotes from thinkers great and small who you can react to in your writing.</p>
</div>

<div class="span-8 reason last">
<h3>Print the book</h3>
<p>Put your wisdom on paper for your children and grandchildren.</p>
</div>

<section id="get-started" class="span-24 last">
<button class="big-button" onclick="goto_signup();">See how it works &raquo;</button>
</section>

<footer>Photo courtesy Seattle Municipal Archives, item 31116</footer>

<% content_for :scripts do %>
<script type="text/javascript">
  var goto_signup = function() { window.location = '<%= signup_path %>'; };
</script>
<% end %>
