<div id="question">What's your favorite memory of your father?</div>
<ul id="buttons">
  <li><button id="answer-button" class="big-button">Answer</button></li>
  <li><button id="skip-button" class="big-button">Skip &raquo;</button></li>
</ul>
