<% content_for :styles do %>
  <%= stylesheet_link_tag 'frontpage' %>
<% end %>
<section id="top">
<h1 id="tagline">The easiest way to write your memoir.</h1>
</section>

<div class="span-8 reason">
<h3>Answer questions</h3>
<p>We've assembled a set of prompts to help you recall stories of your past.</p>
</div>

<div class="span-8 reason">
<h3>Share online</h3>
<p>Your family and friends can read the work in progress at your own address online.</p>
</div>

<div class="span-8 reason last">
<h3>Print the book</h3>
<p>Put you wisdom on paper for your children and grandchildren.</p>
</div>

<section id="get-started" class="span-24 last">
<button class="big-button">See how it works &raquo;</button>
</section>

<footer>Photo courtesy Seattle Municipal Archives, item 31116</footer>
