<h1>Create your account</h1>

<p>You're almost there!  Just choose the email you'd like to use, enter a password, and complete the payment.</p>
<% form_tag :action => 'complete', :token => params[:token], :payer_id => params[:PayerID] do %>
  <div class="field">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="<%= @name %>"/>
  </div>
  <div class="field">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" value="<%= @email %>"/>
  </div>
  <div class="field">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
  </div>
  <div class="static-field">
    <label>Price</label>
    <span>$25.00</span>
  </div>
  <div class="static-field">
    <label>Length</label>
    <span>Lifetime</span>
  </div>
  <div class="static-field">
    <label>Included</label>
    <span>One free printing of your memoir book.</span>
  </div>
  <div class="actions">
    <button class="big-button" type="submit">Complete Payment And Create Account &raquo;</button>
  </div>
<% end %>

<!-- Google Code for Checkout page Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1010285212;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "WuwrCKTaggIQnPXe4QM";
var google_conversion_value = 0;
if (0) {
  google_conversion_value = 0;
}
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1010285212/?value=0&amp;label=WuwrCKTaggIQnPXe4QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<% content_for :styles do %>
  <%= stylesheet_link_tag 'signin' %>
<% end %>
